<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">External Docs</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://kubernetes.io/docs/home/">Kubernetes</a>
            <a class="navbar-item" href="https://tekton.dev/docs/">Tekton</a>
            <a class="navbar-item" href="https://docs.sonarqube.org/latest/">Sonarqube</a>
            <a class="navbar-item" href="https://doc.traefik.io/traefik/">Traefik</a>
            <a class="navbar-item" href="https://docs.microsoft.com/en-us/azure/devops/?view=azure-devops">Azure DevOps</a>
            <a class="navbar-item" href="https://docs.asciidoctor.org/asciidoc/latest/">AsciiDoc</a>
            <a class="navbar-item" href="https://docs.antora.org/antora/2.3/">Antora</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
